<h2>Found something?</h2>


<form action="/found-form" method="post" id="form-container" enctype="multipart/form-data">

  <div class="form-group">
    <label for="category">Category</label>
    <select name="category" class="form-control" id="category">
      <option>Pet</option>
      <option>Electronics</option>
      <option>Bag or Wallet</option>
      <option>Toy</option>
      <option>Clothing</option>
      <option>Other</option>
    </select>
  </div>

  <div class="form-group">
    <label for="found-item">Found Item</label>
    <input name="foundItem" type="text" class="form-control" id="found-item" placeholder="What did you find?">
  </div>

  <div class="form-group">
    <label for="found-place">Found place</label>
    <input name="location" type="text" class="form-control" id="found-place" placeholder="Where did you find it?">
  </div>

  <div class="form-group">
    <label for="found-date">When did you find it?</label>
    <input name="foundDate" type="date" class="form-control" id="found-date" placeholder="">
  </div>

  <div class="form-group">
    <label for="image">Item Picture</label>
    <input name="image" type="file" class="form-control-file" id="image">
  </div>
  
  <div class="form-group">
    <label for="found-description">Describe the item</label>
    <textarea name="desc" class="form-control" id="found-description" rows="3"></textarea>
  </div>
 
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>

  <button type="submit" class="btn btn-primary">Submit the form</button>

</form>