
<h2>Lost something?</h2>

<form action="/lost-form" method="post" id="form-container">

  <div class="form-group">
    <label for="category">Category</label>
    <select name="category" class="form-control" id="category">
      <option>Pet</option>
      <option>Bag</option>
      <option>Wallet</option>
      <option>Key</option>
      <option>Phone</option>
      <option>Other</option>
    </select>
  </div>

  <div class="form-group">
    <label for="lostItem">Lost Item</label>
    <input name="lostItem" type="text" class="form-control" id="lostItem" placeholder="What did you lose?">
  </div>

  <div class="form-group">
    <label for="lost-place">Lost place</label>
    <input name="location" type="text" class="form-control" id="lost-place" placeholder="Where did you lose it?">
  </div>

  <div class="form-group">
    <label for="lost-date">When did you lose it?</label>
    <input name="lostDate" type="date" class="form-control" id="lost-date" placeholder="What did you lose?">
  </div>
  
  <div class="form-group">
    <label for="pic-item">Item Picture</label>
    <input name="imageURL" type="file" class="form-control-file" id="pic-item">
  </div>

  <div class="form-group">
    <label for="reward">Reward</label>
    <input name="reward" type="text" class="form-control" id="reward" placeholder="Do you want to put a reward on it ?">
  </div>
 
  <div class="form-group">
    <label for="lost-description">Describe the item</label>
    <textarea name="desc" class="form-control" id="lost-description" rows="3"></textarea>
  </div>
 
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>

  <button type="submit" class="btn btn-primary">Submit the form</button>

</form>
