
<h2>Lost something?</h2>

<form action="/lost-form" method="post" id="form-container">

  <div class="form-group">
    <label for="lost-item">Categories</label>
    <select name="lostItem" class="form-control" id="lost-item">
      <option>Pets</option>
      <option>Bags</option>
      <option>Wallets</option>
      <option>Keys</option>
      <option>Phones</option>
      <option>Others</option>
    </select>
  </div>

  <div class="form-group">
    <label for="lost-place">Lost place</label>
    <input type="text" class="form-control" id="lost-place" placeholder="What did you lose?">
  </div>

  <div class="form-group">
    <label for="lost-date">When did you lose it?</label>
    <input type="date" class="form-control" id="lost-date" placeholder="What did you lose?">
  </div>

  
  <div class="form-group">
    <label for="pic-item">Item Picture</label>
    <input type="file" class="form-control-file" id="pic-item">
  </div>

 
  <div class="form-group">
    <label for="lost-description">Describe the item</label>
    <textarea class="form-control" id="lost-description" rows="3"></textarea>
  </div>
</form>

 
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button type="submit" class="btn btn-primary">Submit the form</button>

</form>
