
<h2>Lost something?</h2>


<form action="/lost-form" method="post" id="form-container">
  <label for="lost-item">Lost item</label>
  <input id="lost-item" type="text" name="lostItem" placeholder="What did you lose?">

  <br><br>

  <label for="lost-place">Lost place</label>
  <input id="lost-place" type="text" name="lost-place" placeholder="where did you lose it?">

  <br><br>

  <label for="lost-date">When did you lose it?</label>
  <input id="lost-date" type="date" name="lost-date" placeholder="">

  <br><br>

  <label for="lost-description">Describe the item</label>
  <input id="lost-description" type="text" name="lost-description" placeholder="">

  <br><br>


 
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button type="submit">Submit the form</button>

</form>
  
