$primary: #1D8A99;
@import "node_modules/bootstrap/scss/bootstrap";

.navbar-expand-sm, .btn{
  background-color: $primary
}

.lostList {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: auto;
  flex-flow: row wrap;
  flex-direction: row;
}

.foundDetails{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: auto;
  flex-flow: row wrap;
  flex-direction: row;
}

.lostDetails{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: auto;
  flex-flow: row wrap;
  flex-direction: row;
}

textarea {
  border: 1px solid #333;
}

.comments {
  border: 1px solid #333;
}




